node_modules
.DS_Store*
*~
\#*
auth.coffee
events.coffee
google-images.coffee
help.coffee
httpd.coffee
maps.coffee
ping.coffee
pugme.coffee
roles.coffee
rules.coffee
storage.coffee
translate.coffee
youtube.coffee
*.sh
*.log
*.rdb
memo.txt